.hover-container{
    margin: auto;
    text-align: center;
    align-content: center;
    height: 100%;
    font-family: cursive;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    background: radial-gradient(#481df6, black);
}